.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    margin-bottom: 20px;
    padding-top: 52px;
}
.img-preview-container{
    position: relative;
    margin-top:15px;
    margin-bottom: 10px;
    cursor: pointer;

}

.img-preview{
    width: 315px;
    height: 175px;
    border-radius: 16px;
    object-fit: cover;
}
.preview-time{
    background-color: rgba(0,0,0,0.5);
    color: rgb(255,255,255);
    position: absolute;
    bottom: 10px;
    right: 32px;
    padding: 2px 5px;
    font-size: 11px;
}

.video-preview-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
}
.preview-description-container{
    display: flex;
    flex-direction: row;
    align-content: center;
}
.video-title{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: rgb(241, 241, 241);
}
.author-name, .video-stats{
    color: rgb(170, 170, 170);
    line-height: 10px;
}
.author-img{
    width: 36px;
    height: 36px;
    border-radius: 16px;
    object-fit: cover;
    margin-right: 8px;
}
.description-details p{
    margin-top: 0;
    flex: 1;

}

.menu-action-container{
    width: 50px;
}
.menu-action{
    border-radius: 20px;
    border: none;
    width: 20px;
    height: 20px;
    padding: 10px;
    fill: white;
    transition: box-shadow 1s;
    cursor: pointer;
}
.menu-action:hover{
    box-shadow: 0 0 2px 1px   rgb(100,100,100);
}
.menu-action:active{
    border: 1px solid rgb(255,255,255);
}

